input#inputdisplay {
  width: 277px;
  height: 54px;
  margin: 8% 7%;
  font-size: 25px;
  box-shadow: 1px 3px 3px black;
  border-radius: 10px;
    background: black;
  color: rgb(17, 255, 38);
  text-align: right;
  padding-right: 6%;
}
button {
  width: 60px;
  height: 60px;
  margin-bottom: 6%;
  margin-left: 5%;
  box-shadow: 0px 5px 4px black;
  background: orange;
  font-size: 15px;
  border-radius: 10px;
}
button:hover{
    background: rgb(255, 214, 106);
}
.operator:hover{
  background:rgb(224, 224, 224);
}
button:focus {
	outline:0;
}
div {
	width: 356px;
  height: 544px;
	border: 6px solid black;
	background:rgb(0, 230, 255);
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.operator{
  background: white;
}